<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Task List</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Tasks</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${tasks}">
    <td th:text="${task.title}"></td>
    <td th:text="${task.description}"></td>
    <td th:text="${task.status}"></td>
    <td>
      <a th:href="@{/task/{id}(id=${task.id})}">View</a> |
      <a th:href="@{/task/{id}/edit(id=${task.id})}">Edit</a> |
      <form th:action="@{/task/{id}/delete(id=${task.id})}" method="post" style="display:inline;">
          <button type="submit">Delete</button>
      </form> |
      <form th:action="@{/task/{id}/complete(id=${task.id})}" method="post" style="display:inline;">
        <button type="submit" th:disabled="${task.status == T(ca.srikar.todo.model.TaskStatus).COMPLETED}">Mark as Completed</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a href="/task/new">Create New Task</a>
</body>
</html>
